In [11]:
import pandas as pd

def can_be_float(string):
    """Returns True if a string can be converted to a float,
    False if not"""
    try:
        float(string)
        return True
    except ValueError:
        return False
    
def extract_notes_from_lat(lat_val):
    """Extracts notes from a latitude column"""
    if can_be_float(lat_val):
        return None
    else:
        return lat_val
    
def build_datetime_column(df):
    """Creates a date column from year, month, day and time columns"""
    date_column = pd.to_datetime(df[['Day','Month','Year']])
    time_column = df['Time (UTC)'].map(lambda time: pd.Timedelta(hours=time.hour, minutes=time.minute))
    return date_column + time_column

In [7]:
pd.to_datetime(debris_df[['Day','Month','Year']]).dt.to_pydatetime()

array([datetime.datetime(2019, 1, 1, 0, 0),
       datetime.datetime(2019, 1, 5, 0, 0),
       datetime.datetime(2019, 1, 5, 0, 0),
       datetime.datetime(2019, 1, 11, 0, 0),
       datetime.datetime(2019, 1, 16, 0, 0),
       datetime.datetime(2019, 1, 17, 0, 0),
       datetime.datetime(2019, 1, 20, 0, 0),
       datetime.datetime(2019, 1, 23, 0, 0),
       datetime.datetime(2019, 1, 28, 0, 0),
       datetime.datetime(2019, 1, 30, 0, 0),
       datetime.datetime(2019, 2, 5, 0, 0),
       datetime.datetime(2019, 2, 5, 0, 0),
       datetime.datetime(2019, 2, 22, 0, 0),
       datetime.datetime(2019, 2, 24, 0, 0),
       datetime.datetime(2019, 3, 2, 0, 0),
       datetime.datetime(2019, 3, 2, 0, 0),
       datetime.datetime(2019, 3, 2, 0, 0),
       datetime.datetime(2019, 3, 3, 0, 0),
       datetime.datetime(2019, 3, 3, 0, 0),
       datetime.datetime(2019, 3, 10, 0, 0),
       datetime.datetime(2019, 3, 10, 0, 0),
       datetime.datetime(2019, 3, 10, 0, 0),
       datetime.datetime(2019, 3, 11, 0, 0),
       datetime.datetime(2019, 3, 12, 0, 0),
       datetime.datetime(2019, 3, 13, 0, 0),
       datetime.datetime(2019, 3, 15, 0, 0),
       datetime.datetime(2019, 3, 17, 0, 0),
       datetime.datetime(2019, 3, 17, 0, 0),
       datetime.datetime(2019, 3, 24, 0, 0),
       datetime.datetime(2019, 3, 25, 0, 0),
       datetime.datetime(2019, 3, 31, 0, 0),
       datetime.datetime(2019, 4, 1, 0, 0),
       datetime.datetime(2019, 4, 4, 0, 0),
       datetime.datetime(2019, 4, 5, 0, 0),
       datetime.datetime(2019, 4, 7, 0, 0),
       datetime.datetime(2019, 4, 9, 0, 0),
       datetime.datetime(2019, 4, 11, 0, 0),
       datetime.datetime(2019, 4, 15, 0, 0),
       datetime.datetime(2019, 4, 15, 0, 0),
       datetime.datetime(2019, 4, 28, 0, 0),
       datetime.datetime(2019, 4, 29, 0, 0),
       datetime.datetime(2019, 4, 30, 0, 0),
       datetime.datetime(2019, 5, 4, 0, 0),
       datetime.datetime(2019, 5, 7, 0, 0),
       datetime.datetime(2019, 5, 7, 0, 0),
       datetime.datetime(2019, 5, 11, 0, 0),
       datetime.datetime(2019, 5, 12, 0, 0),
       datetime.datetime(2019, 5, 12, 0, 0),
       datetime.datetime(2019, 5, 15, 0, 0),
       datetime.datetime(2019, 5, 17, 0, 0),
       datetime.datetime(2019, 5, 24, 0, 0),
       datetime.datetime(2019, 5, 27, 0, 0),
       datetime.datetime(2019, 6, 10, 0, 0),
       datetime.datetime(2019, 6, 12, 0, 0),
       datetime.datetime(2019, 6, 15, 0, 0),
       datetime.datetime(2019, 6, 25, 0, 0),
       datetime.datetime(2019, 6, 25, 0, 0),
       datetime.datetime(2019, 6, 29, 0, 0),
       datetime.datetime(2019, 7, 3, 0, 0),
       datetime.datetime(2019, 7, 3, 0, 0),
       datetime.datetime(2019, 7, 4, 0, 0),
       datetime.datetime(2019, 7, 20, 0, 0),
       datetime.datetime(2019, 7, 23, 0, 0),
       datetime.datetime(2019, 7, 24, 0, 0),
       datetime.datetime(2019, 7, 25, 0, 0),
       datetime.datetime(2019, 8, 3, 0, 0),
       datetime.datetime(2019, 8, 4, 0, 0),
       datetime.datetime(2019, 8, 6, 0, 0),
       datetime.datetime(2019, 8, 7, 0, 0),
       datetime.datetime(2019, 8, 8, 0, 0),
       datetime.datetime(2019, 8, 26, 0, 0),
       datetime.datetime(2019, 8, 29, 0, 0),
       datetime.datetime(2019, 8, 30, 0, 0),
       datetime.datetime(2019, 9, 28, 0, 0),
       datetime.datetime(2019, 10, 3, 0, 0),
       datetime.datetime(2019, 10, 4, 0, 0),
       datetime.datetime(2019, 10, 15, 0, 0),
       datetime.datetime(2019, 10, 16, 0, 0),
       datetime.datetime(2019, 10, 22, 0, 0),
       datetime.datetime(2019, 10, 28, 0, 0),
       datetime.datetime(2019, 11, 11, 0, 0),
       datetime.datetime(2019, 11, 17, 0, 0),
       datetime.datetime(2019, 11, 17, 0, 0),
       datetime.datetime(2019, 11, 19, 0, 0),
       datetime.datetime(2019, 11, 19, 0, 0),
       datetime.datetime(2019, 11, 22, 0, 0),
       datetime.datetime(2019, 11, 27, 0, 0),
       datetime.datetime(2019, 12, 4, 0, 0),
       datetime.datetime(2019, 12, 4, 0, 0),
       datetime.datetime(2019, 12, 5, 0, 0),
       datetime.datetime(2019, 12, 11, 0, 0),
       datetime.datetime(2019, 12, 17, 0, 0),
       datetime.datetime(2019, 12, 18, 0, 0),
       datetime.datetime(2019, 12, 22, 0, 0),
       datetime.datetime(2019, 12, 27, 0, 0),
       datetime.datetime(2019, 12, 31, 0, 0)], dtype=object)

In [12]:
debris_df = pd.read_excel("Re-entries and emissions 23-07.xlsx", sheet_name='Re-entries')
debris_df['Timestamp'] = build_datetime_column(debris_df)
debris_df['Notes'] = debris_df['Latitude'].map(extract_notes_from_lat)
debris_df['Latitude'] = debris_df['Latitude'].where(debris_df['Latitude'].map(can_be_float))
debris_df

,Controlled?,ID,Time (UTC),Day,Month,Year,Latitude,Longitude,Name,Type,Part,Mass / kg,NOx from re-entry / kg,Timestamp,Notes
0,N,2018-112H,01:31:00,1,1,2019,7.823,54.1640,CZ-2D,Rocket body,NaN,5500.0,NaN,2019-01-01 01:31:00,None
1,N,2007-049A,07:58:00,5,1,2019,-43.753,-179.9760,Cosmos 2430,Payload,NaN,1900.0,NaN,2019-01-05 07:58:00,None
2,N,2016-031B,09:32:00,5,1,2019,-1.205,89.7460,Faclon 9,Rocket body,Second stage,4500.0,NaN,2019-01-05 09:32:00,None
3,Y,2019-002,15:36:00,11,1,2019,NaN,NaN,Faclon 9,Rocket body,First stage,27200.0,4760.0,2019-01-11 15:36:00,Drone ship
4,N,1977-093A,12:57:00,16,1,2019,-37.629,-179.9910,Prognoz 6,Payload,NaN,910.0,NaN,2019-01-16 12:57:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Y,2019-091,00:15:00,17,12,2019,NaN,NaN,Falcon 9,Rocket body,First stage,27200.0,4760.0,2019-12-17 00:15:00,Drone ship
92,N,2019-084C,02:46:00,18,12,2019,-53.894,98.0200,Electron,Rocket body,NaN,250.0,NaN,2019-12-18 02:46:00,None
93,Y,2019-094,14:19:00,22,12,2019,32.9432,-106.4195,Starliner,Payload,NaN,NaN,NaN,2019-12-22 14:19:00,None
94,N,2002-031A,17:02:00,27,12,2019,14.175,-60.8010,Iridium 97,Payload,NaN,689.0,NaN,2019-12-27 17:02:00,None
95,N,2000-048A,17:13:00,31,12,2019,24.96,50.8420,DM-F3,Payload,NaN,4348.0,NaN,2019-12-31 17:13:00,None

In [2]:
launch_df = pd.read_excel("Re-entries and emissions 23-07.xlsx", sheet_name='Launch emissions')
launch_df[['']]

In [4]:
launch_total_df = launch_df.pop()

SyntaxError: invalid syntax (<ipython-input-4-78bdfaae3ae6>, line 5)

In [10]:
debris_df.columns

Index(['Controlled?', 'ID', 'Time (UTC)', 'Day', 'Month ', 'Year', 'Latitude',
       'Longitude ', 'Name', 'Type', 'Part', 'Mass / kg',
       'NOx from re-entry / kg'],
      dtype='object')